/* Resetting default margin and padding */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #010c01; /* Set a solid black background */
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Spotify Logo image on the Navigation Page */
.top-left-image {
  position: absolute;
  top: 2px;
  left: 20px;
  z-index: 9999;
  width: 200px;
  height: auto;
}

/* Header styles */
h1 {
  text-align: center;
  padding: 40px;
  background-color: #1DB954;
  color: rgb(7, 7, 7);
  margin: 0;
  font-size: 50px;
}

/* Table styles */
#table1 {
  border-collapse: collapse;
  width: 100%;
  background-color: black; /* Set a solid black background */
  color: white; /* Set the text color inside the table cells to green */
}

#table1 td,
#table1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table1 tr:nth-child(even) {
  background-color: black; /* Use a solid color for even rows */
}

#table1 tr:hover {
  background-color: rgb(99, 99, 99);
}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}
