/* Resetting default margin and padding */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Set height of the body to the viewport height */
    /*background-image: url('SpotifyImageNav.jpg');
    background-size: cover; /* Cover the entire background */
    /*background-repeat: no-repeat; /* Prevent repeating the image */
    /*background-position: center; /* Center the background image */
        /* Create a linear gradient background from green to black */
        background: linear-gradient(to bottom, #010c01, #f7f7f7);
        /* Other styles */
        margin: 0px;
        padding: 0px;
        /* Optionally, set height to cover the entire viewport */
        height: 100vh;
    
    
}

/* Spotify Logo image on the Navigation Page */
.top-left-image {
    position: absolute;
    top: 2px; /* Adjust top position as needed */
    left: 20px; /* Adjust right position as needed */
    z-index: 9999px; /* Set a high z-index value to place it in front */
    /* Other styles for image if needed */
    width:200px;
    height: auto;
}




/* Header styles */
h1 {
    text-align: center;
    padding: 40px;
    background-color: #1DB954;
    color: rgb(7, 7, 7);
    margin: 0;
    font-size: 50px;
}

/* Table styles */


#table1 {
    border-collapse: collapse;
    width: 100%;
  }
  
  #table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table1 tr:nth-child(even){background-color: linear-gradient(to bottom, #010c01, #f7f7f7);}
  
  #table1 tr:hover {background-color: #ddd;}
  
  #table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
  }
