<!-- This is the middle man HTML -->
<!-- This is for the MVP -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vertical Buttons</title> <!-- This is the line that changes the tab of what it can be called on the browser-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
</head>
<body>
    <div class="title-section">     
    <h1>Check Spotify!</h1>
    <h2>Your Playlist has been created, it might take a few seconds to appear under playlists...</h2> <!-- This is the title of the page -->
    </div>


</body>
</html>


