<!-- This is the middle man HTML -->
<!-- This is for the MVP -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vertical Buttons</title> <!-- This is the line that changes the tab of what it can be called on the browser-->
    <!--link rel="stylesheet" href="{{ url_for('static', filename= 'css/MiddleMan.css') }}"-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/MiddleMan.css') }}">
</head>
<body>
    <div class="title-section">     
    <h1>Things to do!</h1> <!-- This is the title of the page -->
    </div>

    <div class="button-container">
        <button type ="button" onclick="location.href='/Top10Song'">View Top 10 Songs</button> <!-- This line of code give u a working button. Once you click on working button it takes you to spotify-->
        <button type ="button" onclick="location.href='/randomPlaylist'">Generate Random Playlist</button>
        <button type ="button" onclick="location.href='/RecPlaylist'">Search for Playlist</button>
        <button type ="button" onclick="location.href='/playlist_preview'">Preview Playlist</button>
    </div>

</body>
</html>

