<!-- playlist_preview.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Preview</title>
</head>
<body>

<iframe
  title="{{ playlist_name }}"
  src="{{ playlist_url }}"
  width="100%"
  height="95%"
  style="min-height: 888px"
  frameborder="0"
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>

<!-- Add a button to create the playlist in Spotify -->
<div class="create_button">
    <form action="/CreateAddPlaylist" method="post"> <!-- Added a form element with the action attribute -->
        <label for="playlistName">Enter Playlist Name:</label>
        <input type="text" id="playlistName" name="playlistName" required>
        <button type="submit">Type playlist name and hit ENTER key!</button>
    </form>
</div>

</body>
</html>
