<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">

    <style>
        body {
            /* Set the background image for the entire page */
            background-image: url('https://images7.alphacoders.com/133/1333817.jpeg');
            /* Adjust background properties */
            background-size: cover; /* Adjusts the image size to cover the entire background */
            background-position: center; /* Centers the background image */
            /* Optionally, you can set additional properties like background-repeat, etc. */
        }
    </style>
    
</head>
<body>


        <div class="login-container">
            <div class="login-box">
                <h2>Hi</h2>
                <a href="https://developer.spotify.com/">Go Here First, and copy your token at the top after you login with Spotify</a>
                <a href=newFormPage>Go Here Second, and paste in your token. </a>
                <!-- The submit button will perform an action that will redirect to the form_submit page. -->
                

            </div>
        </div>





    </body>
</html>